@font-face {
  font-family: "Inter-Black";
  src: url("../assets/fonts/Inter-Black.woff") format("woff");
}
@font-face {
  font-family: "Inter-Black-Italic";
  src: url("../assets/fonts/Inter-BlackItalic.woff") format("woff");
}
@font-face {
  font-family: "Inter-Bold";
  src: url("../assets/fonts/Inter-Bold.woff") format("woff");
}
@font-face {
  font-family: "Inter-Bold-Italic";
  src: url("../assets/fonts/Inter-BoldItalic.woff") format("woff");
}
@font-face {
  font-family: "Inter-Extra-Bold";
  src: url("../assets/fonts/Inter-ExtraBold.woff") format("woff");
}
@font-face {
  font-family: "Inter-Extra-Bold-Italic";
  src: url("../assets/fonts/Inter-ExtraBoldItalic.woff") format("woff");
}
@font-face {
  font-family: "Inter-Medium";
  src: url("../assets/fonts/Inter-Medium.woff") format("woff");
}
@font-face {
  font-family: "Inter-Medium-Italic";
  src: url("../assets/fonts/Inter-MediumItalic.woff") format("woff");
}
@font-face {
  font-family: "Inter-Semi-Bold";
  src: url("../assets/fonts/Inter-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Inter-Semi-Bold-Italic";
  src: url("../assets/fonts/Inter-SemiBoldItalic.woff") format("woff");
}