//fonts
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

// colors
$white: #ffffff;
$athens-gray: #f4f5f7;
$primary-blue: #0049b0;
$common-black: #202020;
$title-color: #303030;
$succes: #34bf49;
$info: #6dcff6;
$warning: #f49a9e;
$danger: #ed1c24;
$chekbox-checked: #31a5e7;
$chekbox: #464646;
$common-text: #5e5d5c;
$star-color: #e7ab65;

// hover colors
$primary-blue-hover: #0c3b7d;
$succes-hover: #279b39;
$info-hover: #4ebfec;
$warning-hover: #d97a7e;
$danger-hover: #bd262b;
